*, :after, :before{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    background-color: #2F4550;
    color: #fafaf9;
    font-family: 'UnistraB-Regular','Courier New', Courier, monospace;
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
--------------------------all device------------------------*/
.title{
    font-size: 2em;
    font-family: 'UnistraD-Bold','Courier New', Courier, monospace;
}


/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
--------------------property on laptop----------------------*/
@media (min-width: 800px) {
    /*/////////////HEADER BEGIN///////////////*/
    header{
        width: 100vw;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-image: url("assets/sky.jpg");
        background-attachment: fixed;
    }
    .logo {
        font-size: 2em;
        font-family: 'UnistraC-Bold';
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 100%;
        padding: 20px;
        margin-top: 30px;
        transition: 1s;
        cursor: pointer;
    }
    .txt{
        margin-left: 5px;
        transition: 1s;
    }
    .pic{
        width: 25px;
        height: 25px;
        border-radius: 100% 2px 100% 2px;
        background-color: #7bade1;
        transition: 1s;
    }
    .txt:hover {
        letter-spacing: 2px;
    }
    
    .about {
        display: flex;
        align-items: center;
        font-family: 'UnistraB-Bold';
        width: 60vw;
        height: 100%;
        background-color: #2f455070;
    }
    #nom, #prenom{
        font-family: 'UnistraA-Regular';
        font-size: 3em;
    }
    /*/////////////HEADER END///////////////*/

    /*/////////////CONTENT BEGIN///////////////*/
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box{
        min-width: 100vw;
        min-height: 500px;
        padding: 50px;
        display: flex;
        flex-direction: row;
    }
    .box:nth-child(2n){
        display: flex;
        flex-direction: row-reverse;
        color: black;
    }
    .shape {
        background-color: aqua;
        border-radius: 100%;
        width: 400px;
        height: 400px;
        transition: 1s;
    }
    .text:nth-child(1){
        padding: 50px;
    }
    .box:nth-child(2n) .shape {
        display: none;
        background-color: blue;
        border-radius: 10% 30% 10% 100%;
    }
    .one{
        background-image: url("assets/");
    }
    ul{
        list-style-type: none;
    }

    /*indetification*/
    .box:nth-child(2n){
        background-color: #7bade1;
    }
    /*/////////////CONTENT END///////////////*/

    /*/////////////FOOTER BEGIN///////////////*/
    footer{
        display: flex;
        flex-direction: row;
        background-color: rgb(22, 22, 22);
        color: #bdbdbd;
    }
    .end{
        
    }
    .copyright{
        text-align: center;
        font-size: small;
    }
    /*/////////////FOOTER END///////////////*/    
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------property on mobil----------------------*/
@media (max-width: 800px) { 
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------import all font----------------------- */
@font-face {
    font-family: "UnistraA-Regular";
    src: url("font/UnistraA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Italic";
    src: url("font/UnistraA-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Bold";
    src: url("font/UnistraA-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraB-Regular";
    src: url("font/UnistraB-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Italic";
    src: url("font/UnistraB-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Bold";
    src: url("font/UnistraB-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraC-Regular";
    src: url("font/UnistraC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraC-Italic";
    src: url("font/UnistraC-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraC-Bold";
    src: url("font/UnistraC-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraD-Regular";
    src: url("font/UnistraD-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraD-Italic";
    src: url("font/UnistraD-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraD-Bold";
    src: url("font/UnistraD-Bold.ttf") format("truetype");
}